{% extends "__base.html" %}

{% block container %}
<a class="w3-button" href="{% url 'main:customer-create' %}"> Create new </a>
<table class="table">
    <tr>
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
            </tr>
        </thead>
        <tbody>
            {% for i in object_list %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.surname}}</td>
                <td><a class="w3-button" href="{{ i.get_absolute_url }}"> Open </a></td>
                <td><a class="w3-button" href="{% url 'main:customer-update' i.pk %}"> Update </a></td>
                <td><a class="w3-button" href="{% url 'main:customer-delete' i.pk %}"> Delete </a></td>
            </tr>
            {% endfor %}
        </tbody>
</table>

{% endblock %}