<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <style type="text/css">
	.highchart {
    width: 500px;
    height: 200px;
	}
  </style>
 <div id="mapid" style="height:800px"></div>
 <script>


	var mymap = L.map('mapid').setView([50.4508, 30.5223], 10);

	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);

var geojsonCollection = {{geojson | safe}}

function onEachFeature(feature, layer) {

    var div = L.DomUtil.create('div', 'highchart');

    layer.bindPopup(div);


	layer.on('popupopen', e => {
        const url = 'http://127.0.0.1:8000/map_data/' + feature.id + '/';
        fetch(url)
            .then(response => {
                return response.json();
            })
            .then(data => {
                Highcharts.chart(e.popup.getContent(), {
                    
                    series: [{
                        data: data
                    }]
                });
            })
        
    });
}

{% comment %} alert({{geojson}}); {% endcomment %}
L.geoJSON(geojsonCollection, {
    onEachFeature: onEachFeature
}).addTo(mymap);

 </script>